* {
    box-sizing: border-box;
}

body, section {
    background-color: #F6F8FA !important;
    color: #333;
}

body {
    /* border: 3px solid #CBA6F7 !important; */
    /* border-radius: 1rem; */
    padding: 1rem;
}

section {
    border: 1px solid #009999 !important;
    background-color: rgba(0, 153, 153, 0.3) !important;
    border-radius: 0.9rem;
    overflow: hidden;
    padding-bottom: 1rem;
}

header {
    background-color: #B9EBED !important;
    margin:0;
    padding: 1rem;
}

.custom-header {
    background-color: #B0C1F4 !important;
    color: #333;
    padding: 1rem;
    border-radius: 0.65rem;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

.main {
    display: flex;
    flex-direction: column-reverse;
}

.card {
    border-radius: 0.65rem;
}

.bg-dark-custom {
    background-color: #303446 !important;
}

.text-light-custom {
    color: white;
}

.border-light-custom {
    border: 1px solid #fff !important;
}

.h4-custom {
    background-color: #009999;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.h5-custom {
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
}

.btn-dark-custom {
    background-color: #606892 !important;
    color: #EDEDED;
}

.demo-get-el-id-1 {
    border: 5px solid #0E86D4 !important;
    background-color: #0E86D4;
    color: #FFF;
    border-radius: 1rem;
}

.demo-get-el-id-2 {
    /* border: 1px solid #009999 !important; */
    border: 5px solid #055C9D !important;
    background-color: #055C9D;
    color: #FFF;
    border-radius: 1rem;
}

.demo-get-el-tag-name {
    /* border: 5px solid red; */
    background-color: red !important;
}

.demo-get-el-class-name {
    /* border: 5px solid blue; */
    background-color: blue !important;
}

#demo-get-el-tag-name,
#demo-get-el-class-name {
    pointer-events: none;
}